.header {
  position: fixed;
  width: 100%;
}

.loadingBarsContainer {
  display: flex;
  width: 100%;
  gap: 4px;
  padding: 3px 4px;
}

.loadingBar {
  height: 0.15rem;
  flex: 1;
  border-radius: 2px;
  cursor: pointer;
}

.viewed {
  background-color: white;
}

.current {
  position: relative;
  background-color: rgba(255, 255, 255, 0.3);

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 0;
    background-color: white;
    animation: loadingProgress 5s linear forwards;
  }
}

.unviewed {
  background-color: rgba(255, 255, 255, 0.3);
}

.pictureUsername {
  display: flex;
  padding: 3px 10px;
  font-weight: bold;
  align-items: center;
  gap: 0.6rem;
}

.headerPicture {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

@keyframes loadingProgress {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

.infoLine {
  width: 100%;
  justify-content: space-between;
  display: flex;
  align-items: center;
}